<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>DP - NoteBook</title>
    <meta
      name="description"
      content="An Open NoteBook"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <!--FONTS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap"
      rel="stylesheet"
    />

    <!--favicons-->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />

    <!--ICON-->
    <script
      src="https://kit.fontawesome.com/a0886f7045.js"
      crossorigin="anonymous"
    ></script>

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

   
    </style>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MFGXPK2');</script>
      <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFGXPK2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <!--
<img style="padding: 11px;" src="#" alt="logo" class="img-logo" width="140" height="68">
    --> 
     
     <div class="container">
      <nav>
      <ul class="nav-ul">
        <li class="nav-li" ><a href="/">Home</a></li>
        <li class="nav-li" ><a href="/posts/">Posts</a></li>
        <li class="nav-li" ><a href="https://www.support.dandevelopment.uk/">Contact</a></li>
        <!-- <li><a href="about.asp">About</a></li> -->
        <li class="nav-ham nav-icon" > 
          <i class="fa-solid fa-bars"></i>
        </li>
        <li class="nav-close nav-icon" > 
          <i class="fa-solid fa-xmark"></i>
        </li>
      </ul> 
        
      </nav>
         <div class="row banner">

         <div class="col-sm-1 col-md-1">

         </div>
         <div class="col-sm-10 col-md-10">
            <div class="background">
               <h1 id="title" class="banner-title">
                 My Open NoteBook &#128214;  
               </h1>
                <p id="banner_subcopy">
                  A place for all my notes, thoughts and code snippets.
               </p>
               <a href="/posts">
              <div id="banner_cta" class="cta-button">Posts</div>
            </a>

            </div>
             
       </div>
       <div class="col-sm-1 col-md-1">
              <!--<div id="banner_cta" class="cta-button">Create a ticket</div> -->
       </div>

     </div>
     <div class="row content">
         <div class="col-sm-1 col-md-2">

         </div>
         <div class="col-sm-10 col-md-8">
                     <p id="body">
                      <h5>Welcome to my open notebook.</h5> 
                       
                       This is a wiki of all things Development, Marketing Operations and Technology.   <br> <br> 

                       See something that could be improved? please send me a message!<br> <br> 

                        <!-- <a href="/pages" class="nav-links">Pages</a> <br /> -->
                        <a href="/posts" class="nav-links">Posts</a> <br /> <br> 
                        <!-- <a href="/sitemap.xml" class="nav-links">Site</a> <br />  <br><br> -->

                        <br> <br> 
                        <h5>Why?</h5>
                        Simply put there is too much for one brain to retain! So why not make notes, and....while im at it, it might just help someone stuck on the same challenge.  <br> <br>

                        So... <b>who is the intended audience for the notebook?</b>  <br> <br>

                        Simple. Me, myself and I (and maybe you too)!<br /> <br> 
                        
                        
                        <br> <br> 
                        <h5>Notice a typo?</h5> 
                         Please let me know if you find one. If you know me then there will be about ~10,934,704,939 errors across this whole notebook.
                     </p>
                    
         </div>
         <div class="col-sm-1 col-md-2"></div>
     </div>
     <div class="row footer">
         <div class="col-sm-1 col-md-2">

         </div>
         <div class="col-sm-10 col-md-8">
                    
                     <a href="https://github.com/danpetersen-ghub" alt="GitHub"><i class="fab fa-github"></i></a>
                     <a href="https://www.linkedin.com/in/danielp625441/" alt="LinkedIn"><i class="fab fa-linkedin"></i></a>
                     <a href="mailto:info@dandevelopment.uk" alt="Email"><i class="fas fab fa-envelope"></i></a>
                     <p >
                      Email me at <a  href="mailto:info@dandevelopment.uk">info@dandevelopment.uk</a>. <br><br>
                       </p>  
                         
         <div class="col-sm-1 col-md-2"></div>
     </div>

     
         <script src="script.js" ></script>

 </body>
</html>
