:root {
  --Blue: #1a2238;
  --Purple: #9daaf2;
  --Red: #ff6a3d;
  --Yellow: #f4db7d;
}
.background {
  background-image: url("#");
  background-position-y: top;
  position: relative;
  background-position-x: right;
  background-repeat: no-repeat;
  min-height: 400px;
  max-width: 1440px;
  max-height: 660px;
  width: 100%;
  padding-bottom: 30px;
}
.container {
  margin-top: 0px;
  width: 100% !important;
  padding: 0px;
}
.row {
  width: 100% !important;
  border-radius: 25px;
  margin: 0px !important;
}
.row.banner {
  background-color: var(--Yellow);
}
.row.footer {
  background-color: #e8e8e8;
  padding: 40px;
  text-align: center;
  font-size: 7px !important;
}
#banner_subcopy {
  max-width: 500px;
}
#body {
  margin-top: 40px;
  margin-bottom: 40px;
}
.banner-title {
  padding-top: 80px;
  max-width: 500px;
  font-weight: bolder;
}
.content {
  padding-top: 20px;
}
select,
button {
  background-color: var(--Red);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 0px solid;
}
select:hover {
  background-color: var(--Blue);
}
button:hover {
  background-color: var(--Blue);
}
h1,
h2,
section.row h2,
.h1-pos {
  color: var(--Blue);
  font-size: 2.5em !important;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  margin-bottom: 1em !important;
}
.cta-button:hover {
  background-color: var(--Blue);
}
a:hover {
  color: var(--Purple);
}
a {
  color: var(--Blue) !important;
  word-wrap: break-word;
}
.cta-button {
  background: var(--Red);
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  display: inline-block;
  position: relative;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
p {
  font-size: 18px;
  color: #353637;
  line-height: 1.67;
}
.shadow {
  -webkit-box-shadow: 4px 4px 16px 0 rgba(28, 40, 44, 0.15);
  -moz-box-shadow: 4px 4px 16px 0 rgba(28, 40, 44, 0.15);
  box-shadow: 4px 4px 16px 0 rgba(28, 40, 44, 0.15);
}
.select {
  float: right;
  margin: 20px;
}
.fab,
.far {
  font-weight: 400;
  font-size: 30px;
  margin: 10px;
}
pre {
  background: var(--Blue);
  color: #fff;
  padding: 20px;
  border-radius: 25px;
}
img {
  width: 100%;
}
table {
  width: 100%;
  background: var(--Yellow);
  border-radius: 25px;
  text-align: center;
}
tr {
  border: 1px white solid;
}
iframe {
  border-radius: 25px;
}
nav {
  background: #e8e8e8;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
  color: var(--red);
}
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-li {
  margin: 10px;
}
.nav-icon {
  margin: 10px;
}
.nav-ham {
  display: none;
}

.nav-close {
  display: none;
}

@media only screen and (max-width: 600px) {
  .background {
    max-height: 360px !important;
  }
  .select {
    margin: 17px;
  }
  /* Nav Styles */
  .nav-ham {
    display: block !important;
  }
  .nav-li {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .nav-li {
    display: inline;
  }
}
